body{
	background: gray;
		}
.navbar{
		background: #f0f0f0;	
}		
.navbar-logo{
					margin-top: 0px;
					padding: 0px;
					font-size: 40px;
					font-family: 'Kavivanar', bold italic;
					color: black;	
}
.navbar-logo:hover{
					margin-top: 0px;
					padding: 0px;
					font-size: 40px;
					font-family: 'Kavivanar', bold italic;
					color: black;
					text-decoration: none;	
}
a{
			color: white;
 }
a:hover{
			color: white;
			text-decoration: none;
		}
.nav{
		background: #f0f0f0;
		margin-top: 5px;
	}
.nav-link:hover{
					background: gray;
				}
.grilla-lista{
					width: 30px;
			  }
.photo{
			margin-top: 5px;
			width: 100%;
	   }
.video{
			margin-top: 5px;
			width: 100%;
	  }
.container1{
				margin-top: 5px;
				background: white;
			}
.a2{
	 color: gray;
   }
